/*--========== HEADER START ==========*/

#logo {
    display: flex;
    justify-content: center;
    height: 5vh;
}

#header {
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.829);
    position: fixed;
    z-index: 1000;
    box-shadow: 0 0 10px var(--color-one);
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--max-width);
    margin: 0 auto;
}

#nav a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--color-two);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
}

#menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

#menu a {
    display: block;
    padding: 10px;
    color: var(--color-two);
    text-decoration: none;
    font-size: var(--h5-font-size);
    font-weight: var(--font-medium);
    transition: 0.3s;
}

#menu a:hover {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--bg-color);
    background-color: var(--color-one);
    box-shadow: 0px 0px 25px 5px var(--color-one);
}

#menu .menu-btn a {
    background-color: var(--color-two);
    color: var(--bg-color);
    padding: 10px 20px;
    outline: none;
    transition: 0.3s;
}

#menu .menu-btn a:hover {
    background-color: var(--color-one);
}

#btn-mobile {
    display: none;
    color: var(--bg-color);
}

/*--========== HEADER END ==========*/

/*--========== HEADER RESPONSIVE ==========*/
@media (max-width: 950px) {
    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        height: 90vh;
        width: 70vw;

        position: absolute;

        top: 10vh;
        right: -100vw;

        background: var(--color-one);

        transition: 0.5s;

        visibility: hidden;
        overflow-y: hidden;

        z-index: 1000;
    }
    #nav.active #menu {
        visibility: visible;
        overflow-y: auto;

        right: 0;

        z-index: 1000;
    }
    #menu a {
        padding: 20px;
        color: var(--bg-color);
    }
    #btn-mobile {
        display: flex;
        padding: 10px;
        border: none;
        background: var(--color-one);
        cursor: pointer;
        gap: 10px;
    }
    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}
