/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

/*============ BASE ============*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--bg-color);
}

/*========== SELECTION ==========*/
::selection {
  background-color: var(--color-three);
  color: var(--color-two);
}

/*========== SCROLLBAR ==========*/
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--bg-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-one);
  border: 2px solid var(--bg-color);
}

/*========== REUSABLE CSS CLASSES ==========*/

.main {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width);
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin: 0 auto;
}

.container span {
  font-size: var(--h3-font-size);
  color: var(--color-one);
}

.container h2 {
  font-size: var(--h2-font-size);
  color: var(--color-two);
}

section {
  width: 100%;
}

/*========== VARIABLES CSS ==========*/

/*========== FONT SIZE ==========*/
/*1rem = 16px*/

:root {
  --h1-font-size: 6rem;
  --h2-font-size: 3rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.7rem;
  --h5-font-size: 1.5rem;
  --f1-font-size: 1.3rem;
  --f2-font-size: 1.1rem;
  --f3-font-size: 0.75rem;

  /*========== FONT WEIGHT ==========*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /*========== TYPOGRAPHY ==========*/
  --primary-font: "Teko", sans-serif;
  --second-font: "Arial";

  /*========== COLORS ==========*/
  --bg-color: #0a0a0a;
  --bg-color-two: #1a1a1a;
  --color-one: #a9f555;
  --color-two: #fff;
  --color-three: #505050;

  /*========== DIMENSIONS ==========*/
  --max-width: 90%;
  --max-height: 100vh;
}

/*========== FONTS RESPONSIVE ==========*/
@media screen and (max-width: 950px) {
  :root {
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.3rem;
    --h5-font-size: 1.1rem;
    --f1-font-size: 1rem;
    --f2-font-size: 0.813rem;
    --f3-font-size: 0.75rem;
  }
}
